@font-face {
    font-family: norse;
    src: url(Fonts/Norse-Bold.otf);
  }

.background {
    background-image: url(Images/leaves.jpg);
    background-size: cover;
    background-position: center;
}

.banner {
    background-color: rgba(0, 0, 0, 0.801);
    align-self: center;
    min-height: fit-content;
    max-height: fit-content;
    min-width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.logoImage {
    /* max-width: 20vh;
    min-width: 150px; */
    width: clamp(150px, 10vw, 70vw);
    margin-top: 20px;
    margin-bottom: 20px;
}

.odinText{
    color: white;
    font-size: clamp(150px, 10vw, 70vw);
    font-family: norse;
}