@font-face {
    font-family: norse;
    src: url(Fonts/Norse-Bold.otf);
  }

body {
    font-family: sans-serif
}

.background {
    background-image: url(Images/leaves.jpg);
    background-size: cover;
    background-position: center;
}

.banner {
    margin-top: 30vh;
    background-color: rgba(0, 0, 0, 0.685);
    align-self: center;
    min-height: fit-content;
    max-height: fit-content;
    min-width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.logoImage {
    /* max-width: 20vh;
    min-width: 150px; */
    width: clamp(150px, 10vw, 70vw);
    margin-top: 20px;
    margin-bottom: 20px;
}

.odinText{
    color: white;
    font-size: clamp(150px, 10vw, 70vw);
    font-family: norse;
}

.attribution {
    position: fixed;
    left: 0;
    bottom: 0;
    color: white;
    margin-left: 4vw;
}

form {
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

.legend {
    font-size: 30px;
    margin-left: 15%;
}

.form-row {
    gap: 10%;
    font-size: medium;
    margin-bottom: 1vh;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
}

input {
    min-height: 4vh;
    min-width: 15vw;
}

.create {
    width: 12rem;
    min-height: 6vh;
    margin-top: 30px;
    margin-left: 60px;
}

.login {
    margin-top: 10px;
    margin-left: 60px;
}